<%- include header %>

<header class="ui-header ui-header-positive ui-border-b">
        <h1> 提示 </h1>
 </header>

<div id="successInfo" class="weui_msg" >
      <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
      <div class="weui_text_area">
          <h2 class="weui_msg_title"><%= message %></h2>
      </div>
</div>

<%- include footer %>